# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages
* List libraries
* Table of Data Science Tools
* Examples of Arithmetic Expressions
* Simple arithmetic expression
* Minutes into Hours

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow
4. ggplot2

|Data Science Tools|
| --- |
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python
* 3-2
* 3+3
* 4*22

In [1]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Tim Lee